#bar_chart{
    width:100%;
    min-width:650px;
    height:200px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.sparkchart{
    height:50px;
    width:200px;
    padding:5px;
}

.sparkchart:hover{
    border-width:2px;
    border-style:solid;
    border-color:#2196F3;
    cursor:pointer;
}

.selected{
    border-width:2px;
    border-style:solid;
    border-color:#EF5350;
}